# Env
/.env
# Composer
/vendor
composer.phar

# JS
node_modules
spa/npm-debug.log
spa/yarn-error.log

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

# Tests
tests/codeception/*/_support/_generated/*

# docker
/docker/mysql/db
/docker/postgres/db
/docker/nginx/logs
/docker/caddy/logs
/docker/nginx/.htpasswd
/docker/php/bash_history
/docker/php/error_logs

###> lexik/jwt-authentication-bundle ###
/api/config/jwt/*.pem
/api/config/jwt
api/config/jwt
###< lexik/jwt-authentication-bundle ###
